# Use this file to set environment variables for your application.
# Copy this file to .env and update the values as needed.

# --- API ---
# Database URL
DATABASE_URL=postgres://admin:admin@localhost:5432/mydatabase
# Application Name
APP_NAME=your_app_name

# --- Docker containers ---
# PostgreSQL connection settings
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=ecom

# pgAdmin (optional)
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
