fastapi==0.116.0
uvicorn[standard]==0.22.0
sqlmodel==0.0.24
asyncpg==0.30.0
pydantic-settings==2.10.1
python-dotenv==1.1.1
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
python-jose==3.5.0
email-validator==2.2.0
